<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>442635462056-83bj4c6nq98cn9nkch1lef966gb4rini.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.442635462056-83bj4c6nq98cn9nkch1lef966gb4rini</string>
	<key>API_KEY</key>
	<string>AIzaSyDyiK0X_HmhaU0aMleQQn9TgjOqO1h1JrA</string>
	<key>GCM_SENDER_ID</key>
	<string>442635462056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marlonraskin.CineScribe</string>
	<key>PROJECT_ID</key>
	<string>cinescribe-f65c3</string>
	<key>STORAGE_BUCKET</key>
	<string>cinescribe-f65c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:442635462056:ios:7d0492c23a7d3ca812e99d</string>
	<key>DATABASE_URL</key>
	<string>https://cinescribe-f65c3.firebaseio.com</string>
</dict>
</plist>